.post{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.page{
    padding-top: 30px;
}
.post img{
    max-width: 500px;
}

.post .body_post p{
    white-space: pre-wrap;
}

/* HOME */
.articles{
    display: flex;
    flex-wrap: wrap;
}
.articles .card{
    margin: 10px;
}

/* SHOW Article */
.links-actions{
    justify-content: center;
}
.links-actions form{
    margin: 0;
}